[data-theme=nafed_erp_theme] body,
.page-container {
  background: rgb(14,124,100) !important;
}

[data-route="Workspaces/NAFED ERP"] .layout-main .layout-main-section {
  background-image: url(/assets/nafed_erp/images/paddy-pattern.png) !important;
  background-color: var(--fg-color) !important;
  box-shadow: none;
  border-radius: var(--border-radius-lg);
}


[data-theme=nafed_erp_theme] .nafed-erp-dashboard-card{
  width: 9rem; 
  background:#FFF 0% 0% no-repeat padding-box; 
  border: 1px solid #fff; 
  border-radius:5px !important;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
[data-theme=nafed_erp_theme] .sidebar-label,.add-group-by,.list-tag-preview{
  color:white;
}

[data-theme=nafed_erp_theme] .widget.links-widget-box {
  background: #f3f3f387 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd59;
  border-radius: 5px;
}

[data-theme=nafed_erp_theme] .form-control,
.topbar {
  border: 2px solid #eee;
  border-bottom: 2px solid #00813D !important;
  border-radius: 5px 5px 0 0;
  background: #28a74607 !important;
}

[data-theme=nafed_erp_theme] .awesomplete>[role=listbox]>li:hover,
.awesomplete>[role=listbox]>li[aria-selected=true],
.awesomplete>[role=listbox]>[role=option]:hover,
.awesomplete>[role=listbox]>[role=option][aria-selected=true] {
  background-color: #28a74683 !important;
}

[data-theme=nafed_erp_theme] .page-head {
  background: transparent !important;
}

[data-theme=nafed_erp_theme] .widget.dashboard-widget-box {
  background: mintcream !important;
}

[data-theme=nafed_erp_theme] .es-icon,
.icon.icon-md {
  fill: #fff;
  stroke: #fff;
}

[data-theme=nafed_erp_theme] .widget .widget-head .widget-label .widget-title {
  color: #000700 !important;
}

[data-theme=nafed_erp_theme] .link-text {
  color: #124d2f !important;
  font-weight: 600;
}

[data-theme=nafed_erp_theme] .sidebar-section.save-filter-section .btn.btn-default{
  background: #eee !important;
  color: #000 !important;
}
[data-theme=nafed_erp_theme] .custom-actions .btn.btn-default, .standard-actions .btn.btn-default{
  background: #eee !important;
  color: #000 !important;
}
[data-theme=nafed_erp_theme] .control-label, .grid-heading-row{
  color: #124d2f;
  font-weight: 500;
}
[data-theme=nafed_erp_theme] .btn.btn-default:hover {
  background: darkslategray !important;
  color: white !important;
}

[data-theme=nafed_erp_theme] .desk-sidebar-item.standard-sidebar-item.selected,
.desk-sidebar .standard-sidebar-item:hover {
  background: transparent linear-gradient(269deg, #00000000 0%, #00000030 100%) 0% 0% no-repeat padding-box;
}

[data-theme=nafed_erp_theme] .ce-header .h4 {
  color: #124d2f;
}

[data-theme=nafed_erp_theme] .new-timeline .activity-title,
.new-timeline .timeline-actions {
  background-color: transparent !important;
}

[data-theme=nafed_erp_theme] h3.title-text,
.standard-sidebar-label,
.comment-input-header,
.timeline-content span,
.timeline-content a b,
.timeline-content a,
.desk-sidebar .standard-sidebar-item>a,
.timeline-item.activity-title h4 {
  color: white !important;
}

[data-theme=nafed_erp_theme] .btn.btn-primary {
  background-color: #61e59e !important;
  color: #242424 !important;
}

[data-theme=nafed_erp_theme] .navbar-home img {
  max-height: 60px;
  width: auto;
}

[data-theme=nafed_erp_theme] .navbar {
  height: 65px !important
}